<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/list.html</title>
<style>
a:hover {
	font-weight: bold;
}
</style>
</head>
<body style="text-align: center; background-color: rgb(250, 230, 250)">
	<h2>목록</h2>
	<div>
		<a th:href="@{/insert}" style="text-decoration: none; color: skyblue">추가</a>
	</div>
	<table style="width: 80%; padding-left: 20%; text-align: center;">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>전화</th>
			<th>직업</th>
			<th>사진</th>
		</tr>
		<tr th:each="f : ${friends}">
			<td th:text="${f.bunho}"></td>
			<td th:text="${f.irum}"></td>
			<td th:text="${f.junhwa}"></td>
			<td th:text="${f.jikup}"></td>
			<td>
				<img th:src="'data:' + ${f.imagetype} + ':base64,' + ${f.base64Image}" style="width: 150px; height: auto;">
			</td>
		</tr>
	</table>
</body>
</html>